@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16978431');
  src: url('../font/fontello.eot?16978431#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?16978431') format('woff'),
       url('../font/fontello.ttf?16978431') format('truetype'),
       url('../font/fontello.svg?16978431#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16978431#fontello') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-trash-o:before { content: '\e800'; } /* '' */
.fa-sort:before { content: '\e801'; } /* '' */
.fa-pencil:before { content: '\e802'; } /* '' */
.fa-save:before { content: '\e803'; } /* '' */
.fa-upload:before { content: '\e804'; } /* '' */
.fa-random:before { content: '\e805'; } /* '' */
.fa-bolt:before { content: '\e806'; } /* '' */
.fa-spinner:before { content: '\e807'; } /* '' */
.fa-check:before { content: '\e808'; } /* '' */
.fa-times:before { content: '\e809'; } /* '' */
.fa-undo:before { content: '\e80a'; } /* '' */
.fa-minus-circle:before { content: '\e80b'; } /* '' */
.fa-plus-circle:before { content: '\e80c'; } /* '' */
.fa-plus:before { content: '\e80d'; } /* '' */
.fa-star:before { content: '\e80e'; } /* '' */
.fa-refresh:before { content: '\e80f'; } /* '' */
.fa-info-circle:before { content: '\e810'; } /* '' */
.fa-flag:before { content: '\e811'; } /* '' */
.fa-flag-o:before { content: '\e812'; } /* '' */
.fa-mail:before { content: '\e813'; } /* '' */
.fa-envelope-o:before { content: '\e814'; } /* '' */
.fa-envelope:before { content: '\e815'; } /* '' */
.fa-search:before { content: '\e816'; } /* '' */
.fa-times-circle:before { content: '\e817'; } /* '' */
.fa-lock:before { content: '\e818'; } /* '' */
.fa-bell:before { content: '\e819'; } /* '' */
.fa-clock-o:before { content: '\e81a'; } /* '' */
.fa-circle:before { content: '\e81b'; } /* '' */
.fa-reply:before { content: '\e81c'; } /* '' */
.fa-long-arrow-up:before { content: '\e81d'; } /* '' */
.fa-angle-down:before { content: '\e81e'; } /* '' */
.fa-minus-square-o:before { content: '\e81f'; } /* '' */
.fa-plus-square-o:before { content: '\e820'; } /* '' */
.fa-user:before { content: '\e821'; } /* '' */
.fa-sign-out:before { content: '\e822'; } /* '' */
.fa-calendar:before { content: '\e823'; } /* '' */
.fa-calendar-o:before { content: '\e824'; } /* '' */
.fa-eye:before { content: '\e825'; } /* '' */
.fa-eye-slash:before { content: '\e826'; } /* '' */
.fa-check-square:before { content: '\e827'; } /* '' */
.fa-check-square-o:before { content: '\e828'; } /* '' */
.fa-long-arrow-down:before { content: '\e829'; } /* '' */
.fa-sort-desc:before { content: '\e82a'; } /* '' */
.fa-sort-asc:before { content: '\e82b'; } /* '' */
.fa-thumbs-o-up:before { content: '\e82c'; } /* '' */
.fa-thumb-tack:before { content: '\e82d'; } /* '' */
.fa-tags:before { content: '\e82e'; } /* '' */
.fa-copy:before { content: '\e82f'; } /* '' */
.fa-comments:before { content: '\e830'; } /* '' */
.fa-quote-left:before { content: '\e831'; } /* '' */
.fa-quote-right:before { content: '\e832'; } /* '' */
.fa-print:before { content: '\e833'; } /* '' */
.fa-pencil-square-o:before { content: '\e834'; } /* '' */
.fa-tasks:before { content: '\e835'; } /* '' */
.fa-unlock:before { content: '\e836'; } /* '' */
.fa-pagelines:before { content: '\e837'; } /* '' */
.fa-filter:before { content: '\e838'; } /* '' */
.fa-edit:before { content: '\e839'; } /* '' */
.fa-link:before { content: '\e83a'; } /* '' */
.fa-angle-up:before { content: '\e83b'; } /* '' */
.fa-paperclip:before { content: '\e83c'; } /* '' */
.fa-bell-1:before { content: '\e83d'; } /* '' */
.fa-right-dir:before { content: '\e83e'; } /* '' */
.fa-attention:before { content: '\e83f'; } /* '' */
.fa-box-opened:before { content: '\e840'; } /* '' */
.fa-box-full:before { content: '\e841'; } /* '' */
.fa-square-o:before { content: '\e842'; } /* '' */