<Template name="files">
    {{#each files}}
        {{> file_box }}
    {{/each}}

    <div class="file-box thumb-loading" id="saving_file_box">
        <div class="file">
            <img src="/images/loading.gif" width="40" height="40" class="loading"  />
        </div>
        <div class="thumb-loading-file-name"></div>
    </div>
    <input type ='hidden' id="uploadingItems" value="0">
</Template>

<Template name="file_box">
    <div class="file-box file-uploaded" data-id="{{_id}}">
        <div class="file {{file_ext}}">
            <img src="/images/_close.png" width="15" height="15" class="delete_file_ico" file_id={{_id}}/>
            <a href="{{s3_url}}" title="{{name}} ({{readable_size}})" file_id="{{_id}}" class="file-url" target="_blank" >
            </a>
        </div>
        <div>{{short_name}}</div>
    </div>
</Template>
