<template name="layout">
  <nav class="navbar navbar-default navbar-knotable" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kmail</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li id="email-li">
            <a href="#" class="dropdown-toggle email-tab" data-toggle="dropdown"
              >Email</a
            >
          </li>
          <li id="list-li">
            <a href="#" class="dropdown-toggle list-tab" data-toggle="dropdown"
              >List</a
            >
          </li>
          {{/if}} {{#if isAdmin}}
          <li id="list-li">
            <a
              href="#"
              class="dropdown-toggle list-users"
              data-toggle="dropdown"
              >Users</a
            >
          </li>
          {{/if}} {{#if currentUser}}
          <li id="faq-li">
            <a
              href="https://knote.com/p/P8c0nW/How-to-write-emails-using-props-10th-installment"
              target="_blank"
              class="faq-tab"
              >Help and FAQs</a
            >
          </li>
          {{/if}}
        </ul>

        <ul class="nav pull-right">
          {{> user_info }}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" style="max-width: 1400px">
    <div class="row">{{> yield }} {{> loading_circle}}</div>
  </div>
</template>

<template name="login">
  <div class="container" style="display: flex; justify-content: center">
    <form
      style="
        margin-top: 80px;
        background-color: white;
        max-width: 500px;
        text-align: center;
      "
      class="jumbotron"
    >
      <img width="100" src="/images/logo.svg" style="margin-left: -10px" />
      {{#if isSent}}
      <p>
        The one-time login link was sent to your inbox successfully
      </p>
      {{else}}
      <p>
        Enter your email address and we will send you a one-time login link
      </p>
      <div class="form-group" style="margin-top: 40px">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          disabled="{{isSending}}"
          required
        />
      </div>
      <div style="padding-top: 10px; display: flex; justify-content: center">
        <button type="submit" class="btn btn-primary" disabled="{{isSending}}">Send Login Link</button>
      </div>
      {{/if}}
    </form>
  </div>
  {{#if isSending}}
    {{> loading}}
  {{/if}}
</template>

<template name="user_info">
  {{#if currentUser}} {{> user_loggedin}} {{/if}}
</template>

<template name="user_loggedin">
  {{#if logginIn}}
  <li>Logging in...</li>
  {{else}}
  <li class="dropdown">
    <a
      href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"
      style="
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 15px;
      "
    >
      <img src="{{avatarUrl}}" class="img-rounded" style="width: 25px" />
      {{currentUser.profile.name}}
    </a>
    <ul class="dropdown-menu">
      <li><a id="logout">Logout</a></li>
    </ul>
  </li>
  {{/if}}
</template>

<template name="loading_circle">
  <div class="loading-circle hidden"></div>
</template>
