
<template name="file_item">
  <div class="file-item">
    <div class="file-content">
      <div class="file-view" style="background-image:  url({{s3_url}});"></div>
      <div class="file-description">
          <div class="file-name">{{name}}</div>
          <div> {{size}}</div>
      </div>  
      <div class="file-actions">
        <button class="delete" style="color: red;">Delete</button>
        <button>
          <a href="{{s3_url}}" style="text-decoration: none;" target="_blank">Preview</a>
        </button>
      </div>  
    </div>
  </div>
</template>

<template name="file_item_1">
  <div class="file-item_1" style="
      display: inline-block; 
      background-color: white; 
      padding: 10px; 
      border: 1px solid #ccc; 
      margin: 10px; 
      cursor: pointer;
      border-radius: 5px;">
    <div style="display: flex; align-items: center;">
      <div style="
        width: 40px; 
        height: 60px; 
        background: center / contain no-repeat url({{s3_url}});"></div>
      <div style="margin-left: 20px;text-align: left;">
          <div style="
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap; 
            inline-size: 150px">{{name}}</div>
          <div style="opacity: 0.8;"> {{size}}</div>
      </div>  
    </div>
  </div>
</template>