MAILGUN_API_KEY="An API private key from your Mailgun account"
MAILGUN_DOMAINS='[{"domain":"props.knote.com","sendingApiKey":"The key is required","isDefault":true},{"domain":"knote.com","sendingApiKey":"The key is required"},{"domain":"aikito.co","sendingApiKey":"The key is required"}]'